*{
    font-family: montserrat;
    color:  #5F0F40;
}

/*******************containers********************************/
.main-container{
    position: relative;
    display: grid;
  

}
.container1{
    position: relative;
}
.container2{
    position: absolute;


}

/************************.content1************************/
.content1{
    position: relative;
}
.content1>h1{
    font-size: 25px;
     padding-top: 0px;
     position: absolute;
     left: 36px;
     top: -7px;

}

.content1-img{
    position: absolute;
}

/**************************.content2*******************************/
.content2{
    position: relative;
}
.content2-img1{
    position: absolute;
    top: 115px;
    left: 105px;
}
.content2-img2{
position: absolute;
top: 150px;
left: 100px;
}
.content2-img3{
    position: absolute;
    top: 174px;
    left: 120px;
    z-index: -1;

}
.content2-img4{
    position: absolute;
    top: 255px;
    left: 68px ;
}

/*****************************.content3************************************************/
.content3{
    position: relative;
}

.content3-img1{
    position: absolute;
    left: 257px;
    top: 120px;


}
.content3-img2{
    position: absolute;
    left: 300px;
    top: 135px;
    
}
.content3-img3{
    position: absolute;
    left: 350px;
    top: 135px;
    
}
.content3-img4{
    position: absolute;
    left: 400px;
    top: 135px;
    
}
.content3-img5{
    position: absolute;
    left: 450px;
    top: 135px;
    
}
.content3-img6{
    position: absolute;
    left: 295px;
    top: 145px;
    
}
.content3-img7{
    position: absolute;
    left:345px;
    top: 145px;

    
}
.content3-img8{
    position: absolute;
    top: 145px;
    left: 395px;
    
}
.content3-img9{
    position: absolute;
    top: 145px;
    left: 445px;
}
/********************.contents4*********************/
   

form{
    background: linear-gradient(120deg, #df748827, #fdf9f9c2, #f1e9e9);
    position: absolute;
    border: 2px  black;
    left: 650px;
    top:60px;
    border-radius: 10px;
    height: 69vh;
    width: 25vw;
    /* width: 76vw; */
    align-items: center;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;


}
form>h3{
    position: absolute;
    background: linear-gradient(115deg, #9fa7970e,#aca8a823, #c7c5c528);
    top: 395px;
    left: 0px;
    width: 17.7vw;
    padding: 40px 30px 40px 110px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: bolder;
}
form>p{
    position: absolute;
    font-size:12px;
    color: #444242;
    /* top: 11vw; */}
.input1{
    position: absolute;
    border: 1px solid #5f0f40;
    border-radius: 10px;
    padding: 10px;
    width: 22vw;
    left: 30px;
    top: 150px;
}
.input2{
    position: absolute;
    top:205px;
    
    float: right;left: 15vw;border-radius: 6px;
    padding: 5px;
    width: 120px;
    background-color: #5f0f40;
    border-style: none;
    color: white;
}

/***********************Media Queries********************************************************/


@media(min-width: 300px) and (max-width:840px)
{
    .form{
        position: absolute;
      height: 47.5vh;
        width: 34vw;
    }
    form>h3{
        position: absolute;
        top: 37vw;
        width: 21vw;
        height: 4vh;
        
    }
    .input1{
       /* width: 70vw;*/

    }
    .input2{
        position: absolute;
        /*width: 40vw ;*/
        left: 180px;
    }
    form>p{
        top: 15vw;
    }


       
}


@media(min-width: 321px) and (max-width: 359px)
{
    .form{
        position: absolute;
        width:45vw;
        left: 520px;

        
    }
    form>h1{
        font-size: 25px;      
    }
    form>h3{
        width: 50.2vw;
        position: absolute;
        top: 340px;



    }
    .input1{
        width: 60vw;
    }
    .input2{
        width: 40vw;
        position: absolute;
        left: 150px;
    }

       
}
@media(min-width:360px) and(max-width:369px){
.form{
        position: absolute;
        width:30vw;


    }
    form>h3{
        

    }
    .input1{
        width: 60vw;
    }
    .input2{
        width: 40vw;
        position: absolute;
        left: 150px;
    }
}
@media (min-width:370px) and (max-width: 400px){
    form>h3{
        width:195px
    }
    .input1{
        width: 60vw;
    }
    .input2{
        width: 40vw;
        position: absolute;
        left: 150px;
}
}

@media(min-width: 700px) and (max-width: 750px)
{
form{
        width: 30vw;
        left:550px;
       
       
       
        
    }
    form>h3{
        width: 250px;
        position: absolute;
        top: 340px;


        
        
        
    }
    .input1{
        width: 60vw;
    }
    .input2{
        width: 40vw;
        position: absolute;
        left: 150px;
    }

       
}
@media (min-width: 800px) and (max-width: 900px) {
    form{
        width:30vw;
    }
    form>h3{
        width:250px;
        position:absolute;
        top: 340px;
    }
}
@media (min-width: 950px) and (max-width: 1024px) {
    form>h3{
        width: 15vw;}
    .content4{
        width: 50vw;
    }
    
}